<body>
    <div>
        <div class= "centered" style="background: #FEFAE0; height: 100vh;">
            <p style="position: absolute; top: 5%; right: 3%; font-size: 1.7vw;">Already have an account ? Sign In
                <button mat-icon-button class="go-signIn" [routerLink]="['/login']"> → </button>
            </p>
            <img class="logo" [src]="'assets/images/Leafy_logo.svg'">
            <div class="centered" style="width: 30%; height: 53%; ">
                <form>
                    <div style="margin-bottom: 17%">
                        <label style="font-size: 2vw;">Welcome to Leafline !</label></div>
                    <div style="margin-top: 10%; margin-bottom: 2%;"><label for="username" style="font-size: 1.5vw;">Username</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" id="username" placeholder="Enter your username" style="border-radius: 2vw; background: #E0E6B3; font-size: 1.3vw; padding: 2%;" #username required>
                    </div>
                    <div style="margin-top: 10%; margin-bottom: 2%;">
                        <label for="password" style="font-size: 1.5vw;">Password</label>
                    </div>
                    <div>
                        <input type="password" class="form-control" id="password" placeholder="Enter your password" style="border-radius: 2vw; background: #E0E6B3; font-size: 1.3vw; padding: 2%;" #password required>
                    </div>
                    <div>
                        <div style="margin-top: 10%; margin-bottom: 2%;">

                        <label for="passwordVerif" style="font-size: 1.5vw;">Repeat your password</label>
                        </div>

                        <input type="password" class="form-control" id="passwordVerif" placeholder="Enter your password" style="border-radius: 2vw; background: #E0E6B3; font-size: 1.3vw; padding: 2%;" #passwordVerif required>
                    
                    </div>
                    <div *ngIf="errorMessage" style="color: red;">
                        {{ errorMessage }}
                    </div>
                    <div>
                        <button (click)="onSignUp(username.value, password.value, passwordVerif.value)" mat-raised-button class="black" style="width:  70%; margin-top: 10%; margin-left: 12%;">Sign up</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
